:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    height: 1000px;
    grid-template-areas: 
    "sidebar ."
    "sidebar ."
    ;
}

.sidebar {
    padding: 40px;
    grid-area: sidebar;
    background-color: rgba(25,147,213,255);
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 64px;
    
    > div:nth-of-type(1) {
        font-size: max(32px, 2vw);
    }

    > div:not(div:nth-of-type(1)) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: max(1.2rem, 1.15vw);
    }

}

.header {
    display: grid;
    grid-template: 75px 0.8fr / 1.75fr 1fr;
    align-content: center;
    > div:nth-child(1) {
        display: flex;
        align-items: center;
        padding: 0 25px;
        gap: 8px;
        img {
            width: 25px;
            height: auto;
        }
        input {
            appearance: none;
            flex-grow: 1;
            height: 24px;
            border-radius: 14px;
            border-color: #e2e9f1;
            background-color: #e2e9f1;
            padding: 12px;
        }

    }
    > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        img:nth-child(1) {
            width: 25px;
            height: auto;
        }
        img:nth-child(2) {
            width: 50px;
            height: auto;
        }
    }

    > div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 20px;
        img:nth-child(1) {
            width: 100px;
            height: auto;

        }
        div {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-weight: bold;
            p:nth-child(2) {
                font-size: clamp(20px, 1.8vw, 26px);
            }
        }
    }

    > div:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
        button {
            background-color: #1993d5;
            border-color: #1993d5;
            border-radius: 26px;
            width: 118px;
            height: 50px;
            text-align: center;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.05rem;
            padding: 0;
        }
    }
}

.content {
   background-color: #e2e9f1; 
}
